- specializations = ["Other", "Emergency Medicine", "Anatomy", "Nursing Professional", "Microbiology", "Gastroenterology", "Anasthesia & Critical Care Medicine", "General Pediatrics", "Cardiology", "Radiology", "Cosmetic Dentistry", "Psychiatry", "Orthopedics", "Physiotherapy", "Pathology", "Preventive Medicine", "Obstetrics & Gynecology", "Critical Care & ICU", "Neurology", "Dermatology", "General Surgery", "Cardiac Anasthesiology", "Nephrology", "Internal Medicine", "Forensic Medicine", "Gastrosurgery", "Thoracic Surgery", "Medical Oncology", "Audiometry", "Bariatric Surgery", "General Dentistry", "Otorhinolaryngology(ENT)", "Oral and Maxillofacial Surgery", "General Medicine (MBBS)", "Family Medicine", "Rheumatology", "Clinical Hematology", "Dentistry", "Hematopathology", "Infectious Diseases", "Ophthalmology", "CTVS", "Pediatric Surgery", "Anasthesiology", "Psychology", "Public health Dentistry", "Periodontics", "Speech Therapy", "Neonatology", "Respiratory Medicine", "Radiation Oncology", "Pharmacology", "Aesthetic & Reconstructive Surgery", "Laser Dentistry", "Neurosurgery", "Medicine", "Oral Medicine & Radiology", "Internal Medicine (MD)", "Oral pathology", "Endodontics & Conservative Dentistry", "Urology/Kidney Transplant", "Gynecological Oncology", "Endocrinology", "General Anasthesiology", "Cardiothoracic Surgery", "Orthodontics", "Surgery", "Implantology", "Neuro Anasthesiology", "Hemato-oncology", "Vascular Surgery", "Anaesthesiology", "Cardiac Sciences", "Pedodontics", "Laparoscopic/Minimal Access Surgery", "Clinical Immunology", "Geriatric Medicine", "Pediatrics", "Pediatric Gastroenterology", "Gasteroenterology", "Pediatric Anasthesiology", "Pediatric Oncology", "Hepatology", "Prosthodontics", "Virology", "Pediatric Dentistry", "Other Healthcare Professional", "Interventional Cardiology", "Physiology", "Preventive and Social Medicine", "Paramedical", "Pediatric Hematology", "Pediatric Cardiac Surgery", "Pediatric Cardiology", "Public Health", "Pediatric Urology", "Otorhinolaryngology(Ent)", "Reproductive Medicine", "Pediatric Neurology", "Rheumatologist", "General Physician", "Surgical Oncology", "Robotic Surgery", "Adolescent Medicine", "Neuro Physiotherapist", "Pediatrician", "Consultant Physiotherapist", "Radiologist", "Cardiac Surgeon", "Ayurveda", "Consultant Physician", "Diabetologist", "Cardiologist", "Joint Replacement Surgeon", "Occupational Therapist", "physician", "Pulmonology", "Radiation Oncologist", "Diabetes", "Abdominoplasty", "Diabetelogy", "Implantologist", "Endodontist", "Cosmetic/Aesthetic Dentist", "Pediatric Intensive Care", "General Medicine (Mbbs)", "mba in hospital", "Oral Medicine in Radiology", "Medical Resident", "Pariodontics", "hnnhh", "General medicine", "Student", "General medecine", "Biochemistry", "General medicine ", "Aaaa", "Pharmacist", "other", "Pediatrician ", "pediatric intensivist", "Persuing DM Neurology course", "None", "Gynaecologic Oncology", "Ophthalmology ", "Bio-chemistry", "Community Medicine", "Orthopaedic ", "Pediatric ", "Radiodiagnosis ", "Administration", "Radiodiagnosis", "Anaesthesia", "Community Meddicine", "ENT", "Orthopaedics", "Clinical and onco-cytogenetics, genetic counseling, quality assurance and control", "General Medicine", "Anesthesiologist", "Cardiothoracic Surgeon", "Critical Care Medicine", "Anesthesiology", "Trending", "Cardiac Electrophysiology", "CERTIFIATE COURSE ON DIABETES", "neuroradiology", "Family/General practice", "Emergency medicine", "Hematology & Oncology", "Internist or Critical Care", "Homeopath", "Endocrinology/Diabetes", "Infectious disease", "Trichology", "Urology", "Paediatric Intensivist", "Asthma", "Oncology", "Palliative Medicine", "Geriatric Physiotherapist", "GastroIntestinal Surgery", "Dentofacial Orthopedist", "Dermatosurgery", "Aesthetic Dermatology", "Pediatric Dermatologist", "Dermatopathologist", "Neurorehabilitation", "Pain Treatment", "Neuropkasticity", "FAMILY PHYSICIAN", "Orthopedic Surgeon", "Family Physician", "Pediatric Nephrology", "Critical Care & Icu", "Dietitian/Nutritionist", "Healthcare and Hospital Management", "MBA in health and hospital", "Dentist", "Microbiology Biomedical science", "Gynaecology", "Spine Surgeon", "Researcher", "Biomedical science", "Cardiothoracic & Vascular Surgery", "Sports Medicine Surgeon", "Orthopedist", "General Surgeon", "Podiatrist", "Cardio-Thoracic Surgery", "Oral Surgeon", "Neuro-Oncologist", "Acupuncturist", "Homeopathy", "Pulmonologist", "Plastic Surgery", "ENT Surgeon", "Pulmonary Medicine", "Oral And Maxillofacial Surgeon", "Gynecologist", "Dental Surgeon", "Gastroenterologist", "Oral Pathologist", "Sexologist", "Pediatric Neurologist", "Adolescent And Child Psychiatrist", "Adult Congenital Cardiologist", "Sports and Musculoskeletal Physiotherapist", "Pediatric Cardiologist", "Sonologist", "Ophthalmologist/ Eye Surgeon", "Naturopathy", "Cosmetologist", "Aesthetic Surgeon", "Addiction Psychiatrist", "Neurologist", "Occupational Therapy", "Neuropsychiatrist", "Obesity Specialist", "Physiotherapist", "Allergy", "Neonatalogist", "Neurosurgeon", "Hematologist", "Clinical Physiotherapist", "Cardiovascular And Pulmonary Physiotherapist", "Internal Medicine(Others)", "Interventional Cardiologist", "Gastroenterohepatology", "Community Dentistry", "Homecare Physiotherapist", "student", "Oral And Maxillofacial Surgery", "NA", "General surgery", "Pediatric Hepatology", "Optometrist", "Infertility Specialist", "Infertility", "Gastrointestinal Surgery", "Venereologist", "Oncologist/Cancer Specialist", "Nuclear Medicine Physician", "ms", "Alternative Medicine", "ENT/ Otolaryngologist", "Beautician", "Epidemiologist", "Psychiatrist", "Adult Psychiatrist", "Urologist", "Yoga", "Pediatric Gastroenterologist", "Psychotherapist", "oncology", "Pediatric Psychiatry", "Pediatric OT", "Genetics", "Ultra Sonography", "Nephrologist/Renal Specialist", "Veterinary medicine "]
- specializations = specializations.sort
- specializations << "testing"

%link{:href => "http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js", :type => "text/javascript"}
%h1
  %center Mail Sending Controller
%form{:action => "/mails_using_gmail_api/post", :method => "post"}
  .space-12
  .col-xs-12{:style => "float:right;width:25%;"}
    %input.form-control{:name => "password", :placeholder => "Enter Password..", :type => "password"}/
  %select#lstFruits{:multiple => "multiple", :name => "specialization[]"}
    - specializations.all.each do |spe|
      %option{:value => "#{spe}"}
        = spe
  
  .col-xs-12{:style => "width:auto; float:right; margin:0 12px 12px 0;"}
    %select{:name => "type_database"}
      %option{:value => "justdial"} Just Dial
      %option{:value => "buzz4health"} Buzz4health User
      %option{:value => "reference"} Reference Database
      %option{:value => "iactauser"} IACTA User
      %option{:value => "scauser"} SCA User
      %option{:value => "perfusionistuser"} Perfusionist User
  .col-xs-12{:style => "width:auto; float:right; margin:0 12px 12px 0;"}
    %select{:name => "type_country"}
      %option{:value => "India"}India
      %option{:value => "US"}US
      %option{:value => "UK"}UK
      %option{:value => "CA"}Canada

  %center
    .row
    .space-12
    .row
      .col-xs-12{:style => "float:left;width:50%;"}
        %input.form-control{:name => "subject_email", :placeholder => "Enter Subject", :type => "text"}
          %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => "p0bvfNLYe+RzMZL89zAbDJyjRZXPMKY03cjbIXGXujM="}
        .space-12
        .row
          .col-xs-12{:style => "float:left;width:50%;margin:0 12px 12px 0;"}
            %center
              %label
                Please Enter Html body:
                %textarea{:cols => "70", :name => "html_body", :rows => "10"}
              %center
        .row
          .col-xs-offset-1{:style => "float:right;width:50%;"}
            %input{:name => "resume", :type => "checkbox", :value => "is_resume"}
              Want to resume
              %br
        .space-12
        .row
          .col-xs-12{:style => "float:left;width:50%;"}
            %center
              %input.form-control{:name => "main_title", :placeholder => "Enter Title", :type => "text"}
                %center
        .space-12
        .row
          .col-xs-12{:style => "float:left;width:50%;"}
            %center
              %input.form-control{:name => "main_description", :placeholder => "Enter Description", :type => "text"}
                %center
        .space-12
        .row
          .col-xs-12{:style => "float:left;width:50%;"}
            %center
              %input.form-control{:name => "Action_url", :placeholder => "Enter Action Url", :type => "text"}
                %center
        .space-12
        .row
          .col-xs-12{:style => "float:left;width:50%;"}
            %center
              %input.form-control{:name => "Image_url", :placeholder => "Enter Image Url", :type => "text"}
                %center
        .space-12
        .row
          .col-xs-offset-1{:style => "float:right;width:50%;"}
            %input{:name => "bajaj_notif", :type => "checkbox", :value => "send_notif_bajaj"}
              Include Bajaj in campaign
              %br
        .form-group
          %center
            %button#active_user_campaign.btn.btn-sm.btn-danger{:onclick => "return confirm('Are you really sure you want to send this out')", :type => "submit"}
              %i.icon-lightbulb
              Post Message
            :javascript
              $(function () {
                  $('#lstFruits').multiselect({
                      includeSelectAllOption: true
                  });
              });
