%h1
  Facebook Groups Controller

%form{:action=> "post", :method=>'post', :class => ''}
  .form-group
    .space-12

    %input.form-control{name: "message",placeholder: "Enter Your Message", type: "textarea", height: "200", pattern: ".{20,}"}/
    = hidden_field_tag :authenticity_token, form_authenticity_token
  .space-12
  .row
    .col-xs-12
      %input.form-control{name: "email",placeholder: "Enter Facebook Email Id", type: "text"}/
  .space-12
  .row
    .col-xs-12
      %input.form-control{name: "password",placeholder: "Enter Password..", type: "password"}/
  .space-12
  .form-group
    %button#active_user_campaign.btn.btn-sm.btn-danger{type: "submit", :onclick => "return confirm('Are you really sure you want to send this out')"}
      %i.icon-lightbulb
      Post Message

= render :partial => 'logview'

