

<div class="container">
  <h2>Set Filter criteria</h2>
  <div class="row">


  <div class="col-md-6">Filter by Specialization:</div>




</div>


  <div class="row">





 
  <div class="col-md-12">
  <%= link_to ref, :controller=> "references", :action=> "filter_by_reference_specialization", :ref_spec => "200000", :remote => true %> 

  <%- references = Reference.all.distinct(:ReferenceSpecialization)%>
  
  
  
  <%- references.each do |ref| %>
  <%- if ref.length == 0 %>
    <%= link_to "(None)", :controller=> "references", :action=> "filter_by_reference_specialization", :ref_spec => "", :remote => true %> 
  <%- else %>
  <%= link_to ref, :controller=> "references", :action=> "filter_by_reference_specialization", :ref_spec => ref, :remote => true %> 
  <%- end%>   
  <%- end %>
  </div>



</div>
</div>