You have selected #{@references.count.to_int}  records. Some of these may contain blank emails and will not be attempted
- $Users = @references
.space-12
%h2.Step 2. Now Send the campaign
.space-12
.row
  .col-md-8.col-offset-4
    %form{:action=> "finish_campaign", :method=>'post', :class => ''}
      .form-group
        .row
          .col-xs-12
            %input.form-control{name: "template_name",placeholder: "Email Template name", type: "text"}/
            = hidden_field_tag :authenticity_token, form_authenticity_token
        .space-12
        .row
          .col-xs-12
            %input.form-control{name: "subject",placeholder: "Subject line", type: "text"}/
        .space-12
        .row
          .col-xs-12
            %input.form-control{name: "title",placeholder: "Email title...", type: "text"}/
        .space-12
        .row
          .col-xs-12
            %textarea{cols: "80", name: "description", placeholder: "Please enter email description", rows: "8", "data-validation"=> "length"}
        .space-12
        .row
          .col-xs-12
            %input.form-control{name: "image_url", placeholder: "Email image url...", type: "text"}/
        .space-12
        .row
          .col-xs-12
            %input.form-control{name: "action_url", placeholder: "Call to action URL", type: "text"}/

      .space-12
      .row
        .col-xs-12
          %input.form-control{name: "profile_name", placeholder: "Name this list for future reuse", type: "text"}/

      .form-group
        %button#active_user_campaign.btn.btn-sm.btn-danger{type: "submit", :onclick => "return confirm('Are you really sure you want to send this out')"}
          %i.icon-lightbulb
          Send Me!